# ~/.config/starship.toml

format = "$all$character"

[custom.roxide]
command = 'roxide display'
when = ''' test "$(roxide display)" '''
require_repo = true
style = "fg:#fab387"
format = "as [$output]($style) "

[custom.ks]
command = 'kser show'
when = ''' test "$(kser show)" '''
symbol = 'ó±ƒ¾'
style = "fg:#74c7ec"
format = "\n[$symbol $output]($style) "
